# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/.bin/detect-port
node_modules/.bin/jest
node_modules/.bin/mkdirp
public/ms60066810 2.txt
src/initialize 2.js
src/ms60066810 2.txt
src/assets/images/eminent-web-text 2.ai
src/assets/images/Outcome 2.svg
src/assets/images/Partners 2.svg
src/assets/images/point_texture 2.png
src/assets/images/Veterans 2.svg
src/assets/images/Vision 2.svg
src/Components/Approach/Approach 2.js
src/Components/MainText/MainText.js
