* {
  /*ban zoom*/
  touch-action: pan-x pan-y;
}

html {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;

  /* colors */
  /* BLOCK 1 */
  --block1-graphics: #395f55;
  --block1-text-primary: #7dab9e;
  --block1-text-secondary: #465e4f;
  --block1-bg1: #071118;
  --block1-bg2: #04060b;
  --block1-progress-bg: #7e7e7e;
  --block1-text-hover: #6a6d6c;

  /* BLOCK 2 */
  --block2-graphics: #4f8f7c;
  --block2-text-primary: #dde7e4;
  --block2-text-secondary: #7dab9e;
  --block2-bg1: #091b23;
  --block2-bg2: #08141d;

  /* BLOCK 3 */
  --block3-graphics1: #4f8f7c;
  --block3-graphics2: #58676d;
  --block3-text-primary: #f7f8f9;
  --block3-bg1: #899ba3;
  --block3-bg2: #7a8f97;

  /* BLOCK 4 */
  --block4-graphics1: #f7f8f9;
  --block4-graphics2: #7a8f97;
  --block4-text-primary: #fff;
  --block4-bg1: #bcc7cb;
  --block4-bg2: #a4b6bc;

  /* SCHEDULE POPUP */
  --popup-bg1: #040607;
  --popup-border1: #658677;
  --popup-border2: #3d5248;

  margin: 0;
  font-family: "Archia", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;

  user-select: none;
}

.custom_anime .letter,
.anime .letter {
  display: inline-block;
  line-height: 1em;
}
